<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Dominello Final</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h2>Add an Instrument</h2>
   <input type="text" v-model="instrumentName" placeholder="instruments Name"/>
  <input type="number" step="0.01" v-model="priceInput" placeholder="Cost" />
  <br>
  
  
  
  <h2>Type: </h2>
  <input type="radio" id="one" value="guitar" v-model="instrumentType"/>
  <label for="one">Guitar</label>
  <input type="radio" id="two" value="piano" v-model="instrumentType"/>
  <label for="two">Piano</label>
  <input type="radio" id="three" value="cello" v-model="instrumentType"/>
  <label for="three">Cello</label>
  <input type="radio" id="four" value="flute" v-model="instrumentType"/>
  <label for="four">Flute</label>
  <input type="radio" id="five" value="drums" v-model="instrumentType"/>
  <label for="drums">Drums</label>
  <input type="radio" id="six" value="trombone" v-model="instrumentType"/>
  <label for="six">Trombone</label>
  <input type="radio" id="seven" value="harmonica" v-model="instrumentType"/>
  <label for="seven">Harmonica</label>
  <input type="radio" id="eight" value="violin" v-model="instrumentType"/>
  <label for="eight">Violin</label>
  <input type="radio" id="nine" value="Harp" v-model="instrumentType"/>
  <label for="nine">Harp</label>
 <br>
  
  
  
  <h2>Brand: </h2>
<input type="radio" id="one" value="Fender" v-model="brandInput">
<label for="one">Fender</label>
<br>
<input type="radio" id="two" value="Yamaha" v-model="brandInput">
<label for="two">Yamaha</label>
<br>
 <input type="radio" id="three" value="Maton" v-model="brandInput">
<label for="three">Maton</label>
<br>
  <br><button v-on:click="newInstrument">Submit</button>
  </div>  
<br>
<br>



<div id="app">
  <div class="box" v-for="data in instruments" v-bind:class="data.color">
    <img v-bind:src=data.img>
    {{data.name}}
      <button v-on:click="increaseNumber">Add to Cart</button>
      </div>
  <p>Cart: {{parentNumber}}
  <button v-on:click="resetNumber">Empty Cart</button>
  </p>
  <br>
  <br>
  <br>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
